numpy>=1.24.3
pandas>=2.0.1
matplotlib>=3.7.1
networkx>=3.1
gurobipy>=10.0
# tensorflow>=2.11; sys_platform == "linux" or sys_platform == "win32"
# tensorflow for macos, tensorflow-deps must be installed first
# tensorflow-macos>=2.12; sys_platform == "darwin"
# tensorflow-metal>=0.8.0; sys_platform == "darwin"
protobuf>=4.22.3
torch>=2.0
torchmetrics>=0.11.4
alns~=5.0.4
