numpy~=1.24
pandas~=1.5
matplotlib~=3.7
networkx~=3.0
gurobipy~=10.0
tensorflow~=2.11; sys_platform == "linux" or sys_platform == "win32"
# tensorflow for macos, tensorflow-deps must be installed first
tensorflow-macos~=2.11; sys_platform == "darwin"
tensorflow-metal~=0.7; sys_platform == "darwin"

ortools~=9.5